<div class="">
    <footer class="d-flex flex-wrap align-items-center bg-secondary">
      <div class="col-md-4 d-inline-flex align-items-center">
        <a href="/" class="mb-3 me-2 mb-md-0 text-body-secondary text-decoration-none lh-1">
          <img src="assets\Images\Fiery.jpg" style="height: 50px; width: 50px; border-radius: 50%;">
        </a>
        <span class="text-body-secondary">© 2024 Fiery Restaurant</span>
      </div>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <ul class="nav col-md-4 justify-content-end list-unstyled">
        <li class="ms-3"><a class="text-body-secondary" href="https://github.com/satyamluci2407"><img src="assets\Images\icons8-github.svg"></a></li>
        <li class="ms-3"><a class="text-body-secondary" href="https://www.instagram.com/pluci_fer"><img src="assets\Images\icons8-instagram.svg"></a></li>
        <li class="ms-3"><a class="text-body-secondary" href="https://www.linkedin.com/in/satyam-shandilya-47694b1a1/"><img src="assets\Images\icons8-linkedin.svg"></a></li>
      </ul>
    </footer>
  </div>