<div class="container-fluid h-100">
    <div class="row align-items-center justify-content-center h-100">
      <div class="col-md-8">
        <div class="text-center text-light align-items-start justify-content-start">
          <h1>Now order food</h1>
          <h1> online in Namma Bangaluru </h1>
          <br><br>
        </div>
       
 
        <div class="row">
            <div class="col">
                <input class="form-control" list="datalistOptions" id="exampleDataList" placeholder="Enter your location here.">
                <datalist id="datalistOptions">
                <option value="San Francisco">
                <option value="New York">
                <option value="Seattle">
                <option value="Los Angeles">
                <option value="Chicago">
                </datalist>
            </div>
            <div class="col">
                <input type="text" class="form-control" list="foodOptions" placeholder="Search Food..">
                <datalist id="foodOptions">
                    <option value="Pizza">
                    <option value="Burger">
                    <option value="French Fries">
                    <option value="Noodles">
                    <option value="Ram Ke Chhole Bhature">
                    </datalist>
            </div>
        </div>
      </div>
    </div>
  </div>